*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: great-vibes;
    src: url(./fonts/GreatVibes-Regular.ttf);
    font-weight: lighter;
}



body{
    height: 100vh;
    background: url('./img/kitchen.jpg');
    background-size: cover;
    position: relative;
}

.btn{
    width: 150px;
    padding: 10px 50px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: roboto;
}

.btn:hover{
    background-color: antiquewhite;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: bisque;
    text-transform: capitalize;
    margin-top: 150px;
}

.welcome{
    font-family: roboto;
}

.kitchen{
    font-family: great-vibes;
}
#content{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

#menu{
    margin: 150px auto;
    display: flex;
    gap: 50px;
}

.menu-item{
    height: 150px;
    width: 250px;
    border: 2px solid black;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bolder;
    font-family: roboto;
}

.menu-item h3, .menu-item table{
    padding-left: 10px;

}

.menu-item h3{
    margin-bottom: 10px;
}

table{
    width: inherit;
}

#contact{
    margin: 150px auto;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 150px;
    font-size: 32px;
    font-family: roboto;
}

#contact h3, #contact p{
    margin-left: 10px;
}