*{
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: 'roboto';
    src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: great-vibes;
    src: url(./fonts/GreatVibes-Regular.ttf);
    font-weight: lighter;
}



body{
    height: 100vh;
    background: url('./img/kitchen.jpg');
    background-size: cover;
    position: relative;
}

.btn{
    width: 150px;
    padding: 10px 50px;
    border: 2px solid gray;
    border-radius: 20px;
    font-family: roboto;
}

.btn:hover{
    background-color: antiquewhite;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: bisque;
    text-transform: capitalize;
    margin-top: 150px;
}

.welcome{
    font-family: roboto;
}

.kitchen{
    font-family: great-vibes;
}
#content{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}

.nav-buttons{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

